* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  min-width: 1200px;
}

.navigation-bar {
  width: 100%;
  padding: 1% 2%;

  /* background-color: rebeccapurple; */
}

.logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 4%;
}

header {
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
}

/* Nav bar */

.navigation-bar ul {
  list-style: none;
  /* margin: 0 auto;
  width: 80%; */
  display: inline-block;
}

.navigation-bar li {
  display: inline-block;
  padding-right: 4vh;
}

.navigation-bar a {
  text-decoration: none;
  font-size: 1.015625vw;
  color: black;
}

.right {
  float: right;
}

/* jumbo */
.jumbo {
  background-color: #b4d0e7;
  padding-top: 18vh;
}

h1 {
  text-align: ;
  font-size: 5.15625vw;
  margin-bottom: 10vh;
}

.jumbo-text {
  width: 25%;
  float: left;
}

.jumbo-text p {
  font-size: 0.9375vw;
  margin-bottom: 3vh;
}

.jumbo-button {
  font-size: 1.09375vw;
  margin-bottom: 1vh;
}

.jumbo-text div {
  margin-bottom: 3vh;
}

.jumbo-text a {
  text-decoration: none;
  color: black;
  font-size: 2.34375vw;
  font-weight: bolder;
}

.jumbo-text div {
  font-size: 0.9375vw;
}

.jumbo-foto {
  width: 70%;
  float: right;
}

.jumbo img {
  width: 100%;
}

/* Button */
.btn {
  background-color: #0061ff;
  padding: 4px 12px;
  border: none;
  font-size: 0.859375vw;
  color: white;
  cursor: pointer;
  vertical-align: middle;
}

.btn:active {
  background-color: grey;
}

/* Container  */

.container {
  width: 80%;
  margin: 0 auto;
  /* background-color: red; */
}


.bg-red{
  background-color: red;
}
.debug {
  height: 100vh;
  
}
.over {
  margin-top: -100px;
  padding: 200px;
  
}

