* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  min-width: 1200px;
  min-height: 360px;
}

.navigation-bar {
  width: 100%;
  padding: 1% 2%;

  /* background-color: rebeccapurple; */
}

.logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 4%;
}

header {
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

/* Nav bar */

.navigation-bar ul {
  list-style: none;
  /* margin: 0 auto;
  width: 80%; */
  display: inline-block;
}

.navigation-bar li {
  display: inline-block;
  padding-right: 4vh;
}

.navigation-bar a {
  text-decoration: none;
  font-size: 1.015625vw;
  color: black;
}

.right {
  float: right;
}

/* jumbo */
.jumbo {
  background-color: #b4d0e7;
  padding-top: 18vh;
}

h1 {
  font-size: 5.15625vw;
  margin-bottom: 10vh;
}

.jumbo-text {
  width: 25%;
  float: left;
}

.jumbo-text p {
  font-size: 0.9375vw;
  margin-bottom: 3vh;
}

.jumbo-button {
  font-size: 1.09375vw;
  margin-bottom: 1vh;
}

.jumbo-text div {
  margin-bottom: 3vh;
}

.jumbo-text a {
  text-decoration: none;
  color: black;
  font-size: 2.34375vw;
  font-weight: bolder;
}

.jumbo-text div {
  font-size: 0.9375vw;
}

.jumbo-foto {
  width: 70%;
  float: right;
}

.jumbo img {
  width: 100%;
}

/* MAIN */

h2 {
  font-size: 2.7vw;
  padding-bottom: 8vh;
}

input + span {
  padding-right: 1vw;
}

.plan {
  margin-top: 5vh;
  float: left;
  margin-left: 5.929687500000001vw;
  width: calc(80% / 3 );
  
  
}

#plan-professional{
  margin-left: 0px;
}

.fl{
  float: left;
}

.info-block {
  text-align: left;
  border: 1px solid black;
  padding: 0 3vh;
}
.plan hr {
  margin: 5vh 0;
  width: 30%;
  margin-top: 1vh;
}

.plan ul {
  text-align: left;
}

.plan li {
  list-style-type: none;
  font-size: 10px;
  padding-top: 3vh;
  font-weight: normal;
}

.user-block {
  text-align: center;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fa-pen {
  margin-right: 10px;

  
}

.fa-check {
  color: #0061ff;
}

.plan a {
  color: #0061ff;
}

.sec-enterprise {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid black;
}
.button-enterprise {
  float: right;
}

.text-enterprise {
  width: 60%;
}

/* stili delle info */
.professional {
  font-size: 20px;
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 10px;
}
.price {
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 6px;
}

.under-price {
  font-size: 10px;
  padding-bottom: 30px;
}

.main-text {
  font-size: 10px;
  padding-bottom: 15px;
  
  
  
}

.title-list {
  font-weight: 700;
}

#partner-section{
  margin-top: 80px;
}

#partner-section img{
  width: 55%;
  float: left;
}

.enterprise-box{
  width: 45%;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.enterprise-box h4{
  font-size: 20px;
  margin-bottom: 15px;
}

.enterprise-box p{
  font-size: 12px;
  line-height: 1.5em;
  margin-bottom: 10px;
}


#operazioni-business{
  padding-bottom: 5vh;
  margin-top: 10vh;
}

.item-business{
  width: calc(100% / 3 - 10px);
  margin-right: 10px;
  float: left;
  margin-bottom: 12vh;
}

.item-business img{
  width: 100%;
}

.item-title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3.5vh;

}

.item-text{
  font-size: 12px;
}

.item-text span{
  text-decoration: underline;
}
.item-text span:hover{
  cursor: pointer;
}

#discover-title{
  width: 60%;
  font-size: 37px;
  font-weight: 800;
  margin-bottom: 5vh;
}

#discover-link{
  color: #0061ff;
  font-size: 12px;
}


.section-partner{
  background-color: rgb(230, 227, 221);
  margin-top: 8vh;
}

.box-partner{
  width: 25vw;
  height: 25vw;
  
  font-size: 0;
  
}

#box-partner-left{
  float: left;

}

#box-partner-right{
  float: right;
  
}

.box-partner-img{
  background-color: red;
  width: calc(100% / 2);
  height: calc(100% / 2);
  float: left;
  position: relative;
}


.box-partner img{
  width: 70%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  
  
}

.box-partner-text{
  width: 48vw;
  float: left;
  padding-top: 2vw;
  padding-left: 2vw;
  
  
  
}

.box-partner-text img{
  width: 20%;
}

.box-partner-text hr{
  margin: 5vh 0;
  width: 6%;
  
}

.box-partner-text p{
  font-size: 12px;
}

.section-porta h4{
  color: rgb(105, 9, 105);
  font-size: 30px;
  width: 45%;
  float: left;
}


.section-porta{
  background-color: #b4d0e7;
  height: 35vh;
  position: relative;
}

.section-porta-modifier{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);

}



/* FOOTER  */

footer{
  background-color: black;
  height: 50vh;
  padding-top: 10vh;
}

.footer-title-list{
  color: white;
  padding-bottom: 3vh;
}

footer ul{
  color: white;
  list-style-type: none;
  
}

.footer-list{
  float: left;
}




/* Button */
.btn {
  background-color: #0061ff;
  padding: 4px 12px;
  border: none;
  font-size: 0.859375vw;
  color: white;
  cursor: pointer;
  vertical-align: middle;
}

.btn:active {
  background-color: grey;
}

.trial-button {
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}

.button-enterprise {
  float: right;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
  margin-right: 10px;
}

#button-partner{
  background-color: white;
  color: black;
  border: 1px solid black;
}


#button-iniza{
  background-color: white;
  color: black;
  float: right;
}






/* Container  */

.container-jumbo {
  width: 80%;
  margin: 0 auto;
  /* background-color: red; */
}

.container {
  width: 60%;
  margin: 0 auto;
}

/* debug class */
.bgred{
  background-color: red;
}
.debug {
  height: 100vh;
  background-color: red;
}

.overflow {
  background-color: white;
  width: 100%;
  height: 25vh;
  margin-top: -50px;
}


.icon-float-left{
  float: left;
  vertical-align: super;
  margin-right: -0.625vw;
  margin-top: -0.5vh;
}